:root {
    --s: 150px;
    --g: 10px;
    --f: 1.5;
}
.gallery {
    display: grid;
    gap: var(--g);
    width: calc(3 * var(--s) + 2 * var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(3, auto);
    border-radius: 15px;
}

.gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .35s linear;
    border-radius: 15px;
}

.gallery img:hover {
    filter: grayscale(0);
    width: calc(var(--s) * var(--f));
    height: calc(var(--s) * var(--f));
}
.gallery_container {
    position: relative;
    z-index: 10;
}
.gallery_container {
    position: relative;
    z-index: 10;
    pointer-events: auto;
}