.swiper {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.swiper-slide {
  background-position: center;
  border-radius: 15px;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 15px;
}
